

  <!-- <link name="wrist_camera_link"/>
  <joint name="wrist_camera_joint" type="fixed">
    <parent link="gen3_bracelet_link"/>
    <child link="wrist_camera_link"/>
    <origin rpy="0 1.7444444444444447 -1.5708" xyz="0 -0.06841 -0.05044"/>
  </joint> -->
  <!-- camera body, with origin at bottom screw mount -->
  <!-- <joint name="wrist_mounted_camera_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="wrist_camera_link"/>
    <child link="wrist_mounted_camera_bottom_screw_frame"/>
  </joint>
  <link name="wrist_mounted_camera_bottom_screw_frame"/> -->
  <!-- <joint name="wrist_mounted_camera_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.02 0.0115"/>
    <parent link="wrist_mounted_camera_bottom_screw_frame"/>
    <child link="wrist_mounted_camera_link"/>
  </joint> -->


  <!-- <link name="wrist_mounted_camera_link">
    <visual>
      <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0.00987 -0.02 0"/>
      <geometry>
        <mesh filename="file:///home/tih_auto_hpz4/sudhir/controllers/src/assets/kinova/meshes/bracelet_with_vision_link.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.02 0"/>
      <geometry>
        <box size="0.02005 0.099 0.023"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.072"/>
      The following are not reliable values, and should not be used for modeling
      <origin xyz="0 0 0"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257"/>
    </inertial>
  </link> -->
  <!-- camera depth joints and links -->
  <!-- <joint name="wrist_mounted_camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_depth_frame"/>
  </joint>
  <link name="wrist_mounted_camera_depth_frame"/> -->
  <!-- <joint name="wrist_mounted_camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_depth_frame"/>
    <child link="wrist_mounted_camera_depth_optical_frame"/>
  </joint>
  <link name="wrist_mounted_camera_depth_optical_frame"/> -->
  <!-- camera left IR joints and links -->
  <!-- <joint name="wrist_mounted_camera_infra1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_infra1_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra1_frame"/> -->
  <!-- <joint name="wrist_mounted_camera_infra1_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_infra1_frame"/>
    <child link="wrist_mounted_camera_infra1_optical_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra1_optical_frame"/> -->
  <!-- camera right IR joints and links -->
  <!-- <joint name="wrist_mounted_camera_infra2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.055 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_infra2_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra2_frame"/>
  <joint name="wrist_mounted_camera_infra2_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_infra2_frame"/>
    <child link="wrist_mounted_camera_infra2_optical_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra2_optical_frame"/> -->
  <!-- camera color joints and links -->
  <!-- <joint name="wrist_mounted_camera_color_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.015 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_color_frame"/>
  </joint>
  <link name="wrist_mounted_camera_color_frame"/> -->
  <!-- <joint name="wrist_mounted_camera_color_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_color_frame"/>
    <child link="wrist_mounted_camera_color_optical_frame"/>
  </joint> -->
  <!-- <link name="wrist_mounted_camera_color_optical_frame"/> -->
